<div *ngIf="data; else loading" class="container">

  <div>
    <img src="" alt="">
  </div>

  <div class="div-elegant">
    <table>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Rol</th>
      </tr>
      <tr>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.rol}}</td>
      </tr>
    </table>
  </div>

  <div>
    <button class="button" (click)="closeSession(); reloadPage()" routerLink="/home">Close Profile</button>
  </div>

  <div div *ngIf="data?.rol === 'user'; else notUser">
    <button class="button" (click)="deleteUser(); closeSession(); reloadPage()" routerLink="/home">Delete Profile</button>
  </div>

  <div class="registro" div *ngIf="data?.rol === 'admin'; else notUser">
    <form [formGroup]="myForm" (ngSubmit)="createBarber()">
      <h2>Create New Barber</h2>
      <label for="nombre">Name:</label>
      <input type="text" formControlName="nombre" placeholder="Ingrese su nombre"> <br>
  
      <label for="email">Email:</label>
      <input type="email" formControlName="email" placeholder="Ingrese su correo electrónico"> <br>
  
      <label for="password">Password:</label>
      <input type="password" formControlName="password" placeholder="Ingrese su contraseña"> <br>
  
      <label for="confirmPassword">Repeat Password:</label>
      <input type="password" formControlName="confirmPassword" placeholder="Repita su contraseña"> <br>
    
      <button class="button" type="submit" [disabled]="myForm.invalid" (click)="reloadPage()">Create Barber</button>
    </form>
  </div>
  
  <div class="table-container" *ngIf="data?.rol === 'admin'; else notUser">
    <h3>Barber List</h3>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Option</th>
      </tr>
      <tr *ngFor="let barber of barberList">
        <td>{{ barber.name }}</td>
        <td>{{ barber.email }}</td>
        <td><button class="button" (click)="deleteBarber(barber.email); reloadPage()">Delete</button></td>
      </tr>
    </table>
  </div>

</div>


<!--Estructura de else-->
<ng-template #loading>
  <p>You need to log in to view your profile</p>
</ng-template>

<ng-template #notUser>
</ng-template>