<div class="registro">
  <form class="plantilla" [formGroup]="myForm" (ngSubmit)="signUser()">
    <h2>Registro</h2>
    <label for="nombre">Nombre:</label>
    <input class="registro-input" type="text" formControlName="nombre" placeholder="Ingrese su nombre"> <br>

    <label for="email">Correo electrónico:</label>
    <input class="registro-input" type="email" formControlName="email" placeholder="Ingrese su correo electrónico"> <br>

    <label for="password">Contraseña:</label>
    <input class="registro-input" type="password" formControlName="password" placeholder="Ingrese su contraseña"> <br>

    <label for="confirmPassword">Repetir contraseña:</label>
    <input class="registro-input" type="password" formControlName="confirmPassword" placeholder="Repita su contraseña"> <br>
  
    <button class="registro-boton" type="submit" [disabled]="myForm.invalid">Registrar</button>
  </form>
  <p>¿Ya tienes una cuenta? <a routerLink="/sign-in">Pulse aquí</a></p>
</div>