<div class="container">
  <form class="plantilla" [formGroup]="myForm" (ngSubmit)="signInUser()">
    <h2 class="header">Sign In</h2>
    <div class="div-elegant">
      <input type="text" formControlName="email" class="form-inputs" placeholder="E-mail">
      <input type="password" formControlName="password" class="form-inputs" placeholder="Contraseña">
      <input type="checkbox" formControlName="recordar" class="form-inputs"><a>Recordar credenciales?</a>
    </div>
    <input type="submit" class="button" value="Iniciar sesión">
  </form>
  <p>¿No estas registrado? <a routerLink="/sign-up">Pulse aquí</a></p>
</div>