nav {
  padding: 15px;
  display: flex;
}

.group1{
  padding: 10px;
  background-color: #0b8a45;
  color: black;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.group1:hover {
  background-color: #26ba66;
}

.signin {
  margin-left: auto;
  background-color: #0b8a45;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin:hover {
  background-color: #26ba66;
}