nav {
  padding: 15px;
  display: flex;
}

.group1{
  padding: 10px;
  background-color: #13d46b;
  color: black;
}

.group1:hover {
  background-color: #0b8a45;
}

.signin {
  padding: 10px;
  background-color: #13d46b;
  color: black;
  margin-left: auto;
}

.signin:hover {
  background-color: #0b8a45;
}